{% extends 'jobs/base.html' %}

<!-- to load static files on the homepage -->
{% load staticfiles %}

{% block content %}


<!-- adding textbox form here -->
<form action="{% url 'count' %}">
  <div class="container center_div form-group text-center">
    <h1 class="display-8"><label for="exampleFormControlTextarea1" class="text-center">Word Counter</label></h1>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="fulltext"></textarea>
    <br/>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit for checking</button>
    
  </div>
</form>

{% endblock %}