{% extends 'jobs/base.html' %}

<!-- to load static files on the homepage -->
{% load staticfiles %}

{% block content %}
<br>
      <!--adding list of projects -->
    <div class="list-group mx-auto" style="width: 60%;">
  <a href="{% url 'wordcounter' %}" class="list-group-item list-group-item-action flex-column">
    <div class="d-flex w-100 justify-content-between text-center">
      <h5 class="mb-1">Word Counter</h5>
    </div>
    <p class="mb-1">The app allows you to enter any text and will return you the number of words entered, and the occurence of each word</p>
  </a>
</div>
<br/>
    <div class="list-group mx-auto" style="width: 60%;">
  <a href="{% url 'htmlTag' %}" class="list-group-item list-group-item-action flex-column">
    <div class="d-flex w-100 justify-content-between text-center">
      <h5 class="mb-1">HTML Tag Finder</h5>
    </div>
    <p class="mb-1">The app allows you to enter any URL (Uniform Resource Locator) and returns all the HTML tags used in that webpage.</p>
  </a>
</div>

{% endblock %}