{% extends 'jobs/base.html' %}

<!-- to load static files on the homepage -->
{% load staticfiles %}

{% block content %}

  <!-- adding textbox form here -->
<form action="{% url 'htmlTagFinder' %}">
  <div class="container center_div form-group text-center">
    <h1 class="display-8"><label for="exampleFormControlTextarea1" class="text-center">HTML Tag Finder</label></h1>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="urls"></textarea>
    <br/>
    <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit For Parsing</button>
    
  </div>
</form>

{% endblock %}
  