{% extends 'jobs/base.html' %}

<!-- to load static files on the homepage -->
{% load staticfiles %}

{% block content %}
<!-- Page Content -->
<!-- search bar -->
{% if error %}
<br>
<h1 class="display-4"><p class="mb-0 text-center">{{ error }}</p></h1>
<br>
{% else %}
    <br>
    <div class="float-right">
      <form class="form-inline" action="{% url 'search' %}">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" name="title" placeholder="Blog title">
  </div>
  <button type="submit" class="btn btn-primary mb-2 mr-4">Search Blog</button>
</form>
</div>
    
    <!-- main content -->
    <div class="container">
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <br>
          <h5 class="display-4 text-center">Welcome to my Blogs!
          </h1>
          <br>
          <!-- Blog Post -->
          {% for blog in blogs.all %}
          <div class="card mb-4">
            <img class="card-img-top" src="{{ blog.image.url }}" height="300" width="750" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ blog.title }}</h2>
              <p class="card-text">{{ blog.summary }}</p>
              <a href="{% url 'detail' blog.id %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ blog.pub_date_pretty }} by
              <a href="#">Anil Yadav</a>
            </div>
            {% endfor %}
          </div>

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endif %}
{% endblock %}


<!-- old blog design
    <main role="main">
      <div class="container">
      <h1 class="text-center pt-3" > Welcome to my Blog </h1>
      <br/>
      <br/>
      <h2>Latest Posts</h2>
        {% for blog in blogs.all %}
          <a href="{% url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
          {{ blog.pub_date_pretty }}
          <br/>
          <img class="img-fluid" src="{{ blog.image.url }}" height="200" width="200"/>
          <br/>
          <p>{{ blog.summary }} </p>
        {% endfor %}
    </div>
    </main>
    <footer class="text-muted">
      <div class="container text-center">
       <p>&copy Anil Yadav {% now 'Y' %} </p>
      </div>
    </footer>
  -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->